<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="msapplication-tap-highlight" content="no">
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <meta name="theme-color" content="#2F3BA2">
    <link href="../static/img/Flag.PNG" rel="icon" />

    <title>Who is who in Myanmar</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../static/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../static/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/material.css">
    <script src="../static/js/material.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>


.footer {
   
	
position: fixed;

	
right: 0;
   
	
bottom: 0;
   
	
width: 100%;
   
	
height:30%;
   
	
color: white;
   
	
text-align: right;
   


}
</style>
</head>

<body class="mdl-color--light-blue-300">



    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
                    <strong class="blue-text"></strong>
                </a>

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://realproject-whoiswhoinmyanmar.herokuapp.com/">Home
                                
                            </a>
                        </li>
                        <li class="nav-item">
				<a class="nav-link waves-effect" href="aboutparli.html">Politician</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="aboutwriter.html">Writer</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="aboutdirector.html">Director<span class="sr-only">(current)</span></a>
                        </li>
			<li class="nav-item">
				<a class="nav-link waves-effect" href="aboutactor.html">Actor</a>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-effect" href="aboutsinger.html">Singer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link waves-effect" href="help.html">Help</a>
			</li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/ayeethirikyaww/" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>GitHub
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->

        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">

            <a class="logo-wrapper waves-effect">
                <img src="../static/Flag.PNG" class="img-fluid" alt="">
            </a>

            <div class="list-group list-group-flush">
                <a href="https://realproject-whoiswhoinmyanmar.herokuapp.com/" class="list-group-item waves-effect">
			
                    Home
		</a>
                <a href="aboutparli.html" class="list-group-item waves-effect">
                    Politician
		</a>
                <a href="aboutwriter.html" class="list-group-item waves-effect">
                    Writer
		</a>
                <a href="aboutdirector.html" class="list-group-item active waves-effect">
                    Director
		</a>
		<a href="aboutactor.html" class="list-group-item waves-effect">
			Actor
		</a>
		<a href="aboutsinger.html" class="list-group-item waves-effect">
			Singer
		</a>
		<a href="help.html" class="list-group-item waves-effect">
			Help
		</a>
                            </div>

        </div>
        <!-- Sidebar -->

    </header>




    <!--Main Navigation-->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

<div style="width:45%; float:left; overflow:hidden">
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-s > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../static/img/Zin.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-s mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <font color="black">
		  Name : U Sin Yaw Mg Mg<br>
		  Education : University of Yangon<br>
		  Profession : Director<br>
		  <a href="https://en.wikipedia.org/wiki/Sin_Yaw_Mg_Mg">more...</a>
  </div>
  </div>
</div>


<div style="width:45%; float:center; overflow:hidden">
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-w > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../static/img/wine.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-w mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <font color="black">
   Name : Wine(Own creator)<br>
   Education : University of Yangon<br>
   Profession : Director<br>
   <a href="https://en.wikipedia.org/wiki/Wyne_(film_director)">more...</a>
  </div>
 </div>
</div>
<br>

<div style="width:45%; float:left; overflow:hidden">
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-o > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../static/img/lu.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-o mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <font color="black">
		  Name :U Lu Min<br>
		  Education : University of Yangon<br>
		  Profession : Director<br>
		  <a href="https://en.wikipedia.org/wiki/Lu_Min_(actor)">more...</a>
  </div>
  </div>
</div>


<div style="width:45%; float:center; overflow:hidden">
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-l > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../static/img/KPS.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-l mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <font color="black">
   Name : Kyi Phyu Shin<br>
   Education : Basic Education High School No.2 Latha<br>
   Profession : Director<br>
   <a href="https://en.wikipedia.org/wiki/Kyi_Phyu_Shin">more...</a>
  </div>
 </div>
</div>
<br>
<div style="width:45%; float:left; overflow:hidden">
<style>
.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-q > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../static/img/ki.PNG') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
</style>

<div class="demo-card-q mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"></h2>
  </div>
  <div class="mdl-card__supporting-text">
	  <font color="black">
   Name : Christina Kyi<br>
   Education : Gibbs School in New York City<br>
   Profession : Director<br>
   <a href="http://mudrascalling.com/director-christina-kyi/">more...</a>
  </div>
 </div>
</div>
<br>
<div style="width:20%; float:left; overflow:hidden">
	
	<a href="https://www.google.com/search?q=directors+in+myanmar&ie=utf-8&oe=utf-8&client=firefox-b-ab"><font size="6px">More...</a>
</div>

	</div>
    </main>



          </body>

</html>
